/*==========================================
Typography
===========================================*/


html {
	background-color: black;
	color: white;
	font-family: 'Ubuntu', sans-serif;
}

svg text{
	fill: white;
}
a {
	color: white;
}
li {
	list-style: none;
}

/*==========================================
Header
===========================================*/

nav a {
	color: #3500d3;
	font-size: 1.5rem;
	padding-left: 6rem;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

nav a:hover {
	color: white;
	text-decoration: none;
}

nav {
	background-color: black;
	font-family: 'Roboto Mono', monospace;
	font-weight: bold;
	padding: 20px;
}

.header-nav li {
	display: inline-block;
	list-style: none;
}

header {
	padding: 2rem;
}


/*==========================================
Footer
===========================================*/

footer {
	background-color: #3500d3;
	color: white;
	margin-top: 4rem;
	padding: 2rem;
}

footer a {
	color: white;
	text-decoration: none;
}

.footer-nav {
	background-color: black;
	padding: 1rem;
	text-align: center;
}
.footer-nav ul {
	list-style: none;
	padding: 0;
}

.copyright {
	margin-top: 10px;
}






