/*==========================================
Colors
===========================================*/
html {
	--color-deep-purple: #030032;
	--color-indigo: #190061;
	--color-storm: #240090;
	--color-laser: #4919d7;
	--color-shadow: #d0d0d0;
	--color-dark: #191919;
	--color-nova: #ff31d6;
}








/*==========================================
Typography
===========================================*/


html {
	--size-one: 1rem;
	--size-two: 1.5rem;
    --size-three: 2rem;
    --size-four: 2.5rem;
    --size-five: 3rem;
    --size-six: 4rem;




	background-color: #292727;
	color: white;
	font-family: 'Ubuntu', sans-serif;
	line-height: 1.4;
	font-size: 18px;
}



h1 {
	font-size: var(--size-six);
}

h2{
	font-size: var(--size-five);
}

h3 {
	font-size: var(--size-four);
}

h4 {
	font-size: var(--size-three)
}

h5 {
	font-size: var(--size-two)
}

h6 {
	font-size: var(--size-one)
}

svg text{
	fill: white;
}

a {
	color: white;
	text-decoration: none;
}

a:visited {
    color: white;
}

a:hover {
    color: #ff31d6;
}
  
a:active {
   color: var(--color-deep-purple);
}

a:focus {
    outline: none;
}

.text {
	font-family: 'Roboto Mono', sans-serif;
}

figure.type {
	font-family: 'Roboto Mono', sans-serif;
	color: #ff31d6;
}

.eye-catcher {
	font-size: var(--size-three);
	font-family: 'Roboto Mono', sans-serif;
	color: #ff31d6;
}

.caption-text {
	font-family: 'Roboto Mono', sans-serif;
	color: white;
	font-size: .9rem;
}

ol ol {
	list-style: circle;
}

blockquote {
	font-size: var(--size-five);
	color: #ff31d6;
}


/*==========================================
Header
===========================================*/

nav a {
	color: var(--color-laser);
	font-size: 1.5rem;
	padding: 0 3rem;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

nav a:visited {
	color: var(--color-laser);
}

nav a:hover {
	color: white;
	text-decoration: none;
}

nav a:active {
	color: white;
}

nav {
	font-family: 'Roboto Mono', monospace;
	font-weight: bold;
	padding: 1.5px;
	align-items: center;
    text-align: center;
}

nav ul {
	margin: 2rem auto;

}

.header-nav li {
	list-style: none;
	color: var(--color-laser);
}

header {
	padding: 2rem;
}

@media (min-width: 930px) {
	header nav li {
		display: inline-block;
	}

}


/*==========================================
Footer
===========================================*/

footer {
	background-color: var(--color-laser);
	padding: 2rem;
	text-align: left;
	margin-top: 3rem;
}

footer a {
	text-decoration: none;
}

.footer-nav {
	padding: 1rem;
	text-align: center;
}
.footer-nav ul {
	list-style: none;
	padding: 0;
}

.copyright {
	margin-top: 1rem;
}



/*==========================================
Master Layout
===========================================*/

main {
	margin: auto;
	max-width: 50rem;
}

.hero {
    text-align: center;
    padding-top: 3rem;
    background-image: url(images/nightsky.jpg);
    min-height: 80vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 1.4rem; 
}

.hero h3 {
	font-size: 2.5rem;
	letter-spacing: 1rem;
	text-transform: uppercase;
}

.hero div {
	max-width: 35rem;
	margin: auto;
	padding: 1rem;
}
/*==========================================
Examples
===========================================*/

.second-font {
	font-family: 'Roboto Mono', sans-serif;
	font-size: var(--size-three);
	color: #ff31d6;
}

.first-font {
	font-family: 'Ubuntu';
	font-size: var(--size-three);
	color: #ff31d6;
}


/*==========================================
Button Links
===========================================*/

.link-button {
	background-color: var(--color-laser);
	border-radius: 1.5rem;
	color: white;
	display: inline-block;
	margin: 1rem;
	padding: 1.5rem;
	transition: all .5s;
	font-size: 1.5rem;
}


.link-button:hover, .link-button:focus {
	animation: jump 1s ease-out;
}

@keyframes jump {
	0% {
		transform: translateY(0);
	}

	30% {
		transform: translateY(-2rem);
	}

	50% {
		transform: translateY(0);
	}

	65% {
		transform: translateY(-1rem);
	}

	100% {
		transform: translateY(0);
	}
}

.link-button:active {
	transform: scale(.95);
}

.large-butt {
	font-size: 2rem;
	
}

.small-butt {
	padding: 1rem;
	font-size: 1rem;
}

/*==========================================
details & summary
===========================================*/

details {
	border-radius: 1rem;
	overflow: hidden;
	margin-bottom: 2rem;
}

summary {
    background-color: var(--color-deep-purple);
    padding: .5rem;
}

details div {
	background-color: var(--color-laser);
    padding: 1rem;
}

summary::-webkit-details-marker {
     background: url(images/zap.svg);
     background-size: contain;
     color: transparent;
     transform: scale(1.5);
}

summary:focus {
	outline: none;
}

/*==========================================
dialog
===========================================*/


dialog {
	background-color: var(--color-laser);
	padding: 2rem;
	font-family: 'Roboto Mono', sans-serif;
	border-radius: 2rem;
	border: 2rem;

}

dialog[open]{
	animation: slide-in 1s ease-out;
}

@keyframes slide-in {
	0% {
		opacity: 0;
		transform: translateX(-40rem);
	}

	70% {
		transform: translateX(3rem);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}

}

dialog::backdrop {
	background-color: rgba(41,39,39,.96);
}




/*==========================================
Inputs
===========================================*/
label, input, textarea, select {
	display: block;
}

form {
	background-color: var(--color-laser);
	border-radius: 1rem;
	padding: 1rem;
	margin-bottom: 3rem;
}

input {
	border: 3px  solid var(--color-nova);

}

.error {
	background-color: var(--color-nova);
}

.error-text {
	color: var(--color-nova);
}

input:not([type=submit]), textarea, select {
	border: 3px solid var(--color-nova);
	font-size: 1rem;
	margin-bottom: 1rem;
	padding: .5rem;
	-webkit-appearance: none; 
}

input[disabled], textarea[disabled], select[disabled] {
	border-style: dotted;
}

input:not([type=submit]), textarea {
	min-width: 70%;
}

input:focus, select:focus, textarea:focus {
	box-shadow: 2px 4px 10px fuchsia;
	outline: none;
}

textarea {
	min-height: 5rem;
}

input + .caption-text, textarea + .caption-text, select + .caption-text {
	margin-top: -1rem;
}

input[type="submit"], button {
	background-color: var(--color-nova);
	border-radius: 1.2rem;
	color: white;
	display: inline-block;
	margin: 1rem;
	padding: 1rem;
	transition: all .5s;
	font-size: 1rem;
	border: none;

}


input[type="submit"]:hover, button:hover {
	background-color: var(--color-laser);

}

input[type="submit"]:active, button:active {
	transform: scale(.95);
}

input[type="submit"]:focus, button:focus {
	outline: none;
	color: white;
}



